.one{
    width: 220px;
    text-align: left;
    color: white;
    background-color: rgb(238, 176, 43 )  ;
    
}
.photo{
    width: 140px ;
    height: 140px;
}
h1{
    color:red;
    font-size: 100px;
}